# Pandas 练习题

## 练习题01

### 使用字典数据创建df

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [20]:
d = {
    'grammer': ['Python', 'Java', 'Go', np.nan, 'Python', 'C', 'C++'],
    'score': [1, np.nan, np.nan, 4, 5, 7, 8]
}

In [21]:
df = pd.DataFrame(d)

In [22]:
df

  grammer  score
0  Python    1.0
1    Java    NaN
2      Go    NaN
3     NaN    4.0
4  Python    5.0
5       C    7.0
6     C++    8.0

### 提取Python所有行数据

In [23]:
df['grammer'] == 'Python'

0     True
1    False
2    False
3    False
4     True
5    False
6    False
Name: grammer, dtype: bool

In [24]:
df[df['grammer'] == 'Python']

  grammer  score
0  Python    1.0
4  Python    5.0

### 获取df的所有列名

In [25]:
df.columns

Index(['grammer', 'score'], dtype='object')

### 将列名score修改为popularity

In [26]:
# 方式一
df.columns = ['grammer', 'popularity']

In [27]:
df

  grammer  popularity
0  Python         1.0
1    Java         NaN
2      Go         NaN
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

In [28]:
# 方式二
df.rename(columns={'score': 'popularity'}, inplace=True)

In [29]:
df

  grammer  popularity
0  Python         1.0
1    Java         NaN
2      Go         NaN
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

### 统计grammer列每种编程语言出现的次数

In [30]:
df['grammer'].value_counts()

Python    2
Java      1
Go        1
C         1
C++       1
Name: grammer, dtype: int64

### 将populartiy列的空值用上下值的平均值填充

In [33]:
# 计算上下值平均值
up_down_mean = df['popularity'].interpolate()

In [34]:
up_down_mean

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    7.0
6    8.0
Name: popularity, dtype: float64

In [35]:
# 用平均值填充空值
fill = df['popularity'].fillna(up_down_mean)

In [36]:
fill

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    7.0
6    8.0
Name: popularity, dtype: float64

In [37]:
df['popularity'] = fill

In [38]:
df

  grammer  popularity
0  Python         1.0
1    Java         2.0
2      Go         3.0
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

### 提取popularity列中值大于3的行

In [39]:
df[df['popularity'] > 3]

  grammer  popularity
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

### 去除grammer列中重复的行

In [40]:
df

  grammer  popularity
0  Python         1.0
1    Java         2.0
2      Go         3.0
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

In [42]:
# 修改原df则加参数inplace=True
df.drop_duplicates(['grammer'])

  grammer  popularity
0  Python         1.0
1    Java         2.0
2      Go         3.0
3     NaN         4.0
5       C         7.0
6     C++         8.0

### 计算popularity列的平均值

In [43]:
df

  grammer  popularity
0  Python         1.0
1    Java         2.0
2      Go         3.0
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

In [44]:
df['popularity'].mean()

4.285714285714286

### 将grammer列的内容转成列表

In [45]:
df

  grammer  popularity
0  Python         1.0
1    Java         2.0
2      Go         3.0
3     NaN         4.0
4  Python         5.0
5       C         7.0
6     C++         8.0

In [46]:
df['grammer'].to_list()

['Python', 'Java', 'Go', nan, 'Python', 'C', 'C++']

## 练习题02

In [47]:
d = {
    'grammer': ['Python', 'Java', 'Go', np.nan, 'Python', 'C', 'C++'],
    'score': [1, np.nan, np.nan, 4, 5, 7, 8]
}

In [48]:
df = pd.DataFrame(d)

In [49]:
df

  grammer  score
0  Python    1.0
1    Java    NaN
2      Go    NaN
3     NaN    4.0
4  Python    5.0
5       C    7.0
6     C++    8.0

### 将df数据保存为Excel

In [50]:
df.to_excel('test.xlsx')

In [51]:
df.to_csv('test.csv')

### 查看数据行列数

In [52]:
df.shape

(7, 2)

### 提取popularity列中所有值大于3小于7的行

In [53]:
df

  grammer  score
0  Python    1.0
1    Java    NaN
2      Go    NaN
3     NaN    4.0
4  Python    5.0
5       C    7.0
6     C++    8.0

In [54]:
df[(df['popularity'] > 3) & (df['popularity'] < 7)]

KeyError: 'popularity'